/** @format */

:root {
  --main-back-color: #e5e5e5;
  --main-color: #212121;
  --second-back-color: #2f303a;
  --third-back-color: #f5f4fa;
  --second-color: #2196f3;
  --third-color: #757575;
  --tittle-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --second-back-btn-color: #188ce8;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*--------------------------Header----------------------------------------*/

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-color);
}

.logo-header {
  color: var(--second-back-color);
}

.logo-footer {
  color: var(--tittle-color);
}

.header-list {
  color: var(--second-back-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.carrent-page {
  color: var(--second-color);
}

/*----------------------------Hero------------------------------------------*/

.hero {
  background-color: var(--second-back-color);
}

.hero-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tittle-color);
}

.hero-btm {
  font-family: inherit;
  background-color: var(--second-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tittle-color);
  cursor: pointer;
}

.hero-btm:hover,
.hero-btm:focus {
  background-color: var(--second-back-btn-color);
}

/*------------------------Advantage------------------------------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage-text-item {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-back-color);
}

/*-----------------------About------------------------------------------*/

.saction-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-back-color);
}

/*------------------------Team-------------------------------------------*/

.team {
  background-color: var(--third-back-color);
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  color: var(--second-back-color);
}

/*------------------------Footer-----------------------------------------*/

.footer {
  background-color: var(--second-back-color);
}

.footer-link {
  font-style: normal;
  color: var(--footer-color);
}

.footer-link[target="_blank"] {
  color: var(--tittle-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--second-color);
}

/*------------------------Main-Portfolio-----------------------------------------*/

.main-btn {
  font-family: inherit;
  background-color: var(--third-back-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus,
.carrent-btn {
  color: var(--tittle-color);
  background-color: var(--second-color);
}

.project-tittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
}
